.customerContainer {
    .customerImgSection {
        background-color: $white;
        background-repeat: no-repeat;
        background-size: cover;
       height: 85vh;
       width: 100%;
    }

}