.customerConatainer {
    height: 100vh;
    padding: 30px 30px 30px 40px;

    .customerPage {
        height: 95vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size:contain;
    }
}