.dashboardMainConatiner {
    background-color: rgb(218, 222, 238);
    height: 100vh;
    padding: 30px 30px 30px 230px;

    .middleContainer {
        background-color: rgb(255, 255, 255);
        height: 92vh;
        padding: 20px 30px 20px 30px;
        overflow-y: auto;

        .dashbord-links {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .nonPayment-link {
                font-size: 14px;
                font-weight: $fontweight9;
            }
        }
        .cardSection {
        height: 350px;
         background-repeat: no-repeat;
         background-size:contain;
   display: flex;
   flex-direction: row;
        
        }
        .table {
            
        }
    }
}
.view-dash {
    background-color: $blue1;
    color: white;
    height: 40px;
    width: 100px;

    &:hover,
    &:focus ,
    &:active {
        background-color:$blue1;
        color: white;
    }
}
.delete-dash {
    background-color:$gray5;
    color: white;
    height: 40px;
    width: 100px;
    
    &:hover,
    &:focus ,
    &:active {
        background-color:$gray5;
        color: white;
    }
}