.profileMainContainer {
  
    height: 100vh;
    padding: 50px 80px 30px 260px;
    background-color: rgb(218, 222, 238);

    .formSection {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
        background-color: $white;
        height: 85vh;

        .updateBtn {
            background-color: $blue1;
            color: $white;
            margin-right: 140px;
        }
        .profileDetails {
          padding-top: 60px;
          text-align: center;
          margin-left: 80px;
        }
        .form {
            padding-top: 50px;
            .ant-form-item-control-input-content {
                border-color: 1px solid gray;
                }
            }
            
        
        .email {
            text-align: left;
        }
    }
}